*{
    width: 100%;
    margin:0;
    padding:0;
}
header h3 {
    text-align: center;
    margin-bottom: 60px;
}
.table table {
    border: 1px solid black;
    position: absolute;
    left: 0px;
}
table th, td {
    border: 1px solid black;
    font-size: 11px;
    padding-right: 8px;
    padding-left: 3px;
}
.buttons {
    width: 60%;
    margin-bottom:40px;
}
button.button_new_post {
    width: 30%;
    margin-right:5px;
}
button.button_del_post {
    width: 30%;
    margin-left:5px;
}
tbody tr {
    height: 50px;
}
button.save_downoload {
    width: 50%;
    float: left;
}
button.delete_otchet {
    width: 50%;
    position: absolute;
    right: -20px;
}