*{
    width: 100%;
    margin:0;
    padding:0;
}
header h3 {
    text-align: center;
    margin-bottom: 60px;
}
table th, td {
    border: 1px solid black;
    font-size: 11px;
    padding-right: 8px;
    padding-left: 3px;
}
.buttons {
    width: 60%;
    margin-bottom:40px;
}
button.button_new_post {
    width: 30%;
    margin-right:5px;
}
button.button_del_post {
    width: 30%;
}
tbody tr {
    height: 50px;
}
button.save_downoload {
    width: 50%;
    float: left;
}
button.delete_otchet {
    width: 50%;
    position: absolute;
    right: -20px;
}
.na_edinitsu, .all, .fakt{
    font-size: 15px;
    text-align: center;
}
.table_one {
    width: 42%;
    margin-left: 15px;
    margin-bottom: 10px;
}
.table_two {
    margin-left: 15px;
    width: 100%;
}
.table_two table thead tr th {
    width: 5%;
    text-align: center;
}
.table_two table tbody tr td {
    width: 5%;
}
button.button_new_uslovia {
    width: 35%;
}
.back a{
    border: 1px solid black;
    background-color: powderblue;
    color: black;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: 10px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    z-index:1;
}
.title_page p {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 20px;
}
.button_agro_uslovia {
    position: relative;
    top: 100px;
}
.table_agro_uslovia {
    position: relative;
    top: 120px;
    width: 35%;
    left: 35%;
}
